<div class="filter">
  <span>Filter: </span>
  <a href="/todo/done" title="Klarmarkerade"><i
      class="far fa-check-circle"
      data-filter-content="Klarmarkerade"
    ></i></a>
  <a href="/todo/ongoing" title="Pågående"><i
      class="far fa-circle"
      data-filter-content="Pågående"
    ></i></a>
  <a href="/todo/newest" title="Nyaste"><i
      class="fas fa-arrow-down"
      data-filter-content="Nyaste"
    ></i></a>
  <a href="/todo/oldest" title="Äldsta"><i
      class="fas fa-arrow-up"
      data-filter-content="Äldsta"
    ></i></a>
</div>