<nav>
  <a href="/" title="Hem">Hem</a>
  <a href="/todo" title="Todo-lista">Todo</a>
  <a href="/todo/create" title="Lägg till todo"><i
      class="fas fa-plus"
      data-filter-content="Lägg till todo"
    ></i></a>
</nav>