<div class="home">
  <h3>Inlämningsuppgift 1 (node js)</h3>
  <p><a
      href="/todo"
      class="enter"
      data-enter="Klicka på [ENTER]"
      autofocus
      autofocus="autofocus"
      title="Lägg till todo"
    >Har du något att göra?</a></p>
</div>