<form action="./{{_id}}" method="post">
  <input
    type="text"
    name="description"
    value="{{description}}"
    autofocus
    autofocus="autofocus"
  />
  <input type="submit" value="Ändra" />
</form>