<form action="./create" method="post">
  <input
    type="text"
    name="description"
    placeholder="Todo..."
    autofocus
    autofocus="autofocus"
  />
  <input type="submit" value="Lägg Till" />
</form>